main {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("../img/land.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: 2;
}

main > section#track {
    width: 670px;
    height: 200%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-image: url("../img/lane.png");
    background-size: cover;
    background-position: center;
}

main > section#track > div#player {
    height: 180px;
    width: 85px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    margin: auto;
    background-image: url("../img/player.png");
    background-size: cover;
    background-position: center;
}

main > section#loadingAnimation {
    width: 500px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    z-index: 1;
}

main > section#loadingAnimation > p {
    text-align: center;
    font-size: 28px;
    padding-top: 5px;
    font-family: "Gill Sans ", sans-serif;
}

main > section#menu {
    width: 70px;
    height: 200px;
    position: absolute;
    top: 30px;
    right: 20px;
}

main > section#menu > div {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

main > section#menu > div#sound {
    background-image: url("../img/mute .png");
}

main > section#menu > div#pause {
    background-image: url("../img/pause.png");
}

main > section#menu > div#restart {
    background-image: url("../img/restart.png");
}

main > section#menu > div:hover {
    transform: scale(1.1);
}

main > section#track > div#enemy {
    height: 200px;
    width: 80px;
    position: absolute;
    left: 280px;
    bottom: 50vh;
    margin: auto;
    background-image: url("../img/enemy.png");
    background-size: cover;
    background-position: center;
    animation-iteration-count: infinite;
    animation-duration: 7s;
    animation-direction: normal;
}

@keyframes moveEnemyCar {
    0% {
        bottom: 110vh;
    }

    100% {
        bottom: -30vh;
    }
}

main > section#track > div#taxi {
    height: 200px;
    width: 90px;
    position: absolute;
    left: 40px;
    bottom: 50vh;
    margin: auto;
    background-image: url("../img/taxi.png");
    background-size: cover;
    background-position: center;
    animation-iteration-count: infinite;
    animation-duration: 10.5s;
    animation-direction: normal;
}

@keyframes moveTaxiCar {
    0% {
        bottom: 110vh;
    }

    100% {
        bottom: -30vh;
    }
}

main > section#track > div#police {
    height: 200px;
    width: 90px;
    position: absolute;
    right: 40px;
    bottom: 50vh;
    margin: auto;
    background-image: url("../img/police.png");
    background-size: cover;
    background-position: center;
    animation-iteration-count: infinite;
    animation-duration: 9s;
    animation-direction: normal;
}

@keyframes movePoliceCar {
    0% {
        bottom: 110vh;
    }

    100% {
        bottom: -30vh;
    }
}

main > section#score {
    position: absolute;
    top: 10px;
    left: 30px;
    background-color: white;
    width: 210px;
    opacity: 0.75;
    border-radius: 10px;
    border: 3px solid black;
}

main > section#score > p {
    font-size: 30px;
    font-family: sans-serif;
    margin: 12px;
}

main > section#score > h1 {
    font-size: 40px;
    position: absolute;
    top: -19px;
    right: 15px;
}

main > section#gameOver {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

main > section#gameOver > div#lose {
    position: absolute;
    width: 450px;
    height: 400px;
    background-image: url("../img/gameOverIcon.jpg");
    background-size: cover;
    background-position: center;
    top: 70px;
    left: 0;
    right: 0;
    margin: auto;
    visibility: hidden;
}

main > section#gameOver > div#win {
    position: absolute;
    width: 600px;
    height: 400px;
    background-image: url("../img/winIcon.jpg");
    background-size: cover;
    background-position: center;
    top: 70px;
    left: 0;
    right: 0;
    margin: auto;
    visibility: hidden;
}

main > section#gameOver > div#restartGame {
    position: absolute;
    width: 70px;
    height: 70px;
    background-image: url("../img/game_resart.png");
    background-size: cover;
    background-position: center;
    bottom: 160px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    visibility: hidden;
}

main > section#gameOver > div#restartGame:hover {
    transform: scale(1.1);
}

main > section#gameOver > div#nextLevel {
    position: absolute;
    width: 70px;
    height: 70px;
    background-image: url("../img/next.png");
    background-size: cover;
    background-position: center;
    bottom: 160px;
    right: 650px;
    cursor: pointer;
    visibility: hidden;
}

main > section#gameOver > div#nextLevel:hover {
    transform: scale(1.1);
}

.bgBlur {
    filter: blur(8px);
    -webkit-filter: blur(2px);
}







